[submodule "roo-code"]
	path = roo-code
	url = https://github.com/jsboige/Roo-Code.git
[submodule "mcps/external/win-cli/server"]
	path = mcps/external/win-cli/server
	url = https://github.com/jsboige/win-cli-mcp-server.git
	branch = local-integration-wincli
[submodule "mcps/internal"]
	path = mcps/internal
	url = https://github.com/jsboige/jsboige-mcp-servers.git
	branch = local-integration-internal-mcps
[submodule "mcps/forked/modelcontextprotocol-servers"]
	path = mcps/forked/modelcontextprotocol-servers
	url = https://github.com/jsboige/modelcontextprotocol-servers
[submodule "mcps/external/mcp-server-ftp"]
	path = mcps/external/mcp-server-ftp
	url = https://github.com/alxspiker/mcp-server-ftp
[submodule "mcps/external/markitdown/source"]
	path = mcps/external/markitdown/source
	url = https://github.com/microsoft/markitdown.git
[submodule "mcps/external/playwright/source"]
	path = mcps/external/playwright/source
	url = https://github.com/microsoft/playwright-mcp.git
[submodule "mcps/external/Office-PowerPoint-MCP-Server"]
	path = mcps/external/Office-PowerPoint-MCP-Server
	url = https://github.com/jsboige/Office-PowerPoint-MCP-Server.git
